In [4]:
import pandas as pd 
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [6]:
data=pd.read_csv("Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
x=data.iloc[:,2:4].values
y=data.iloc[:,4].values

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
xs=StandardScaler()
x_train=xs.fit_transform(x_train)
x_test=xs.transform(x_test)

C:\Users\PRAVEEN\ana\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [10]:
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
y_pred=reg.predict(x_test)

In [13]:
dataframe={"actual":y_test.flatten(),"predicted":y_pred.flatten()}
a=pd.DataFrame(dataframe)
a

    actual  predicted
0        0          0
1        0          0
2        0          0
3        0          0
4        0          0
5        0          0
6        0          0
7        1          1
8        0          0
9        0          1
10       0          0
11       0          0
12       0          0
13       0          0
14       0          0
15       0          0
16       0          0
17       0          0
18       1          1
19       0          0
20       0          0
21       1          1
22       0          0
23       1          1
24       0          0
25       1          1
26       0          0
27       0          0
28       0          0
29       0          0
..     ...        ...
50       1          1
51       0          0
52       0          0
53       0          0
54       1          1
55       1          0
56       0          0
57       0          0
58       1          0
59       0          0
60       0          0
61       1          1
62       0          0
63       1          0
64       0          0
65       1          1
66       0          0
67       0          0
68       0          0
69       0          0
70       1          1
71       0          0
72       0          0
73       1          0
74       0          0
75       0          0
76       0          1
77       0          0
78       1          1
79       1          1

[80 rows x 2 columns]

In [15]:
conf=confusion_matrix(y_test,y_pred)
conf

array([[56,  2],
       [ 5, 17]], dtype=int64)